body {
  min-height: 100svh;
  background-color: var(--base);
  color: var(--text);
}

.app {
  display: flex;
  flex-direction: column;

  .app-content {
    height: calc(100svh - 4rem);
  }
}

.loading-msg {
  font-size: 2rem;

  background-image: var(--peach-gradient);
  background-clip: text;
  color: transparent;

  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
